@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header{
    text-align: center;
    padding: 20px 200px;
}

header .title{
    color: #e53170;
    font-size: 2.5rem;
    margin: 30px 0 40px 0;
}

header .subtitle{
    font-size: 1rem;
    margin-bottom: 30px;
}

main{
    padding: 0 200px;
}

main .container{
    width: 100%;
}

main .container:after,
main .container .card-profile:after{
    content: "";
    display: table;
    clear: both;
}

main .container .card-profile{
    float: left;
    width: 32%;
    background-color: #0f0e17;
    margin-bottom: 60px;
}

main .container .card-profile:nth-child(3n+2){
    margin-left: 2%;
    margin-right: 2%;
}

main .container .card-profile img{
    float: left;
    height: calc(2.5rem*3 + 27px*2);
}

main .container .card-profile .box-info{
    float: left;
    padding: 27px;
    color: white;
    line-height: 2.5rem;
}

main .container .card-profile .email{
    color:#47bfe4;
}